// common
$primary-color: #ff5252;
$second-color : #08c;
$text-light: #b0b0b0;
$bg-grey : #f7f7f7;
$bg-dark-grey : #a7a7a7;


// color
$red : #ff5252;
$cyan : #00BCD4;
$indigo : #3F51B5;
$deepPurple : #673AB7;
$pink : #E91E63;
$blue : #2196F3;
$green : #4CAF50;
$orange : #FF5722;
$blueGrey : #607D8B;
$teal : #009688;
$purple : #9C27B0;
$lightGreen : #8BC34A;
$lime : #CDDC39;
$yellow : #FFEB3B;
$orange : #FF9800;
$brown : #795548;
$grey : #a7a7a7;
$dark : #555;
