
// VARIABLE
@import "variable";
$primary-color: $deepPurple;

// MIXIN
@import "module/_mixin";

// BASE CSS
@import "base/_font";
@import "base/_reset";
@import "base/_common";



// LIBRARY
@import "lib/_slick";
@import "lib/_selectbox";

// LAYOUT & CONTENT CSS
@import "component/_header";
@import "component/_main";
@import "component/_content";
@import "component/_board";
@import "component/_footer";

// MODULE
@import "module/_button";
