.m-mypage-wrap {
  padding-top: 55px;
  padding-bottom: 80px;
  min-height: calc(100vh - 59px); }

.m-mypage-index {
  padding-bottom: 0; }

.container {
  max-width: 900px; }

.page-title {
  padding: 10px 0;
  border-bottom: 1px solid #dcdcdc;
  background: #fff;
  text-align: center; }
  .page-title .main-t {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 600;
    color: #333; }
  .page-title .current-count {
    position: absolute;
    top: 50%;
    right: -30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 25px;
    height: 25px;
    padding: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #efaf00;
    font-size: 12px;
    font-weight: 500;
    color: #fff; }

.btn-wrap {
  font-size: 0; }
  .btn-wrap.center {
    text-align: center; }

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 105px;
  padding: 8px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center;
  font-size: 13px;
  font-weight: 300; }
  .btn + .btn {
    margin-left: 8px; }
  .btn.for-index {
    padding: 5px 5px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: #2ccbc8;
    color: #fff; }
  .btn i {
    position: relative;
    top: -1px;
    vertical-align: middle;
    font-size: 19px;
    color: inherit; }
  .btn.md {
    min-width: 145px; }
  .btn.green {
    border-color: #2ccbc8;
    background: #2ccbc8;
    color: #fff; }
  .btn.light-gray {
    border-color: #f4f3f4;
    background: #f4f3f4;
    color: #333; }
  .btn.middle-gray {
    border-color: #dcdcdc;
    background: #dcdcdc;
    color: #7b7b7b; }
  .btn.dark-gray {
    border-color: #7b7b7b;
    background: #7b7b7b;
    color: #fff; }
  .btn.green-bd {
    border-color: #2ccbc8;
    color: #2ccbc8; }
  .btn.dark-gray-bd {
    border-color: #7b7b7b;
    color: #7b7b7b; }
  .btn.full-width {
    display: block;
    padding: 10px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #7b7b7b; }
    .btn.full-width.green {
      border-color: #2ccbc8;
      background: #2ccbc8;
      color: #fff; }

.full-width-alert-msg {
  margin-left: -11px;
  margin-right: -11px;
  padding: 6px 11px;
  background: #2ccbc8;
  font-size: 12px;
  font-weight: 300;
  color: #fff; }
  .full-width-alert-msg i {
    position: relative;
    top: 2px;
    padding-right: 3px;
    font-size: 12px;
    color: #fff; }

.tab-links-wrap.col2 .tab-link {
  width: 50%; }
.tab-links-wrap.col3 .tab-link {
  width: 33.33%; }
.tab-links-wrap.bdbn .tab-link {
  border-bottom-color: transparent; }

.tab-link {
  float: left;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  font-size: 0; }
  .tab-link .txt {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 400;
    color: #333; }
    .tab-link .txt:before {
      display: none;
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 2px;
      background: #2ccbc8; }
  .tab-link.is-active .txt {
    font-weight: 600;
    color: #2ccbc8; }
    .tab-link.is-active .txt:before {
      display: block; }

.tab-panel.as-static {
  display: block !important; }
.tab-panel .upper-wrap {
  padding: 20px 11px 15px;
  background: #f4f3f4; }
  .tab-panel .upper-wrap .sub-msg {
    margin-top: 7px;
    font-size: 12px;
    font-weight: 300;
    color: #7b7b7b; }
  .tab-panel .upper-wrap.white {
    background: #fff; }
    .tab-panel .upper-wrap.white .sub-msg {
      margin-top: 6px;
      font-size: 12px; }
.tab-panel .bottom-wrap .data-list {
  background: #fff; }
  .tab-panel .bottom-wrap .data-list li {
    padding: 10px 15px;
    border-bottom: 1px solid #dcdcdc; }
    .tab-panel .bottom-wrap .data-list li.no-data {
      height: 61px;
      padding-top: 21px;
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      color: #333; }
    .tab-panel .bottom-wrap .data-list li .pull-left {
      display: inline-block;
      vertical-align: middle; }
      .tab-panel .bottom-wrap .data-list li .pull-left .tit {
        font-size: 15px;
        font-weight: 400;
        color: #333; }
      .tab-panel .bottom-wrap .data-list li .pull-left .date {
        font-size: 12px;
        font-weight: 300;
        color: #7b7b7b; }
    .tab-panel .bottom-wrap .data-list li .pull-right {
      padding-top: 6px;
      text-align: right; }
      .tab-panel .bottom-wrap .data-list li .pull-right .value {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase; }
        .tab-panel .bottom-wrap .data-list li .pull-right .value.plus {
          color: #F05B95; }
        .tab-panel .bottom-wrap .data-list li .pull-right .value.minus {
          color: #2699FB; }

.custom-select .select-selected:after {
  top: 4px; }

.month-unit-filter {
  margin-top: 9px; }
  .month-unit-filter .btns-wrap {
    font-size: 0; }
    .month-unit-filter .btns-wrap li {
      display: inline-block;
      vertical-align: middle;
      width: 20%;
      border: 1px solid #7b7b7b;
      background: #fff; }
      .month-unit-filter .btns-wrap li + li {
        border-left: hidden; }
      .month-unit-filter .btns-wrap li .btn-mm {
        display: block;
        padding: 6px 0;
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        color: #525252; }
      .month-unit-filter .btns-wrap li.is-active {
        background: #7b7b7b; }
        .month-unit-filter .btns-wrap li.is-active .btn-mm {
          font-weight: 500;
          color: #fff; }
  .month-unit-filter.gray .btns-wrap li {
    border-color: #dcdcdc;
    background-color: #f4f3f4; }
    .month-unit-filter.gray .btns-wrap li .btn-mm {
      color: #333; }
    .month-unit-filter.gray .btns-wrap li.is-active {
      background-color: #7b7b7b; }
      .month-unit-filter.gray .btns-wrap li.is-active .btn-mm {
        color: #fff; }

/*seungil base*/
/* slide btn */
.slide-btn-top-next {
  cursor: pointer; }

/*table*/
.common-table table {
  width: 100%;
  border-collapse: initial; }

.common-table table tr {
  border-bottom: 1px solid #dcdcdc; }

.common-table table tr th
.common-table table tr td {
  border-right: 1px solid #dcdcdc; }

.common-table table tr th:last-child,
.common-table table tr td:last-child {
  border-right: 0px; }

/*text*/
.common-table .t-list-box {
  padding: 10px;
  width: 100%; }

.common-table .t-list-none {
  text-align: center;
  font-size: 14px;
  color: #333; }

.common-table .t-name-text {
  font-size: 12px;
  color: #333;
  font-weight: 500; }

.common-table .t-contents-text {
  font-size: 12px;
  font-weight: 400;
  color: #333; }

.common-table .text-left-line {
  text-align: left;
  padding: 10px 0px 10px 10px;
  font-size: 13px;
  color: #333;
  position: relative; }

.common-table .text-left-line:before {
  position: absolute;
  content: '';
  left: 0px;
  top: 19px;
  width: 4px;
  height: 1px;
  background-color: #333;
  font-size: 13px; }

.common-table .t-contents-name {
  width: 280px; }

/*# sourceMappingURL=m-mypage-common.css.map */
